ion-list{
    margin: 0 !important;
}
ion-list-header{
     font-size: larger !important;
  border-bottom: #488aff 2px solid !important ;
  color: #488aff !important;
  }
  .item-inner{
    background: white !important;
  }