<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="login-bg">
    <ion-grid *ngIf="!!form">
        <ion-row class="bg-grey">
            <ion-col col-2></ion-col>
            <ion-col col-3>
                <img src="assets/imgs/israel.png" alt="">
            </ion-col>
            <ion-col col-5>
                <img src="assets/imgs/mauf-logo.png" alt="">
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
        <ion-row class="bg-grey">
            <ion-col>
                <form [formGroup]="form" (ngSubmit)="login()" class="margin-top-65 bg-green" novalidate>
                    <ion-row>
                        <ion-col col-12>
                            <ion-item>
                                <ion-label color="primary" floating>תעודת זהות</ion-label>
                                <ion-input type="text" color="dark" formControlName="israelId"></ion-input>
                            </ion-item>
                            <ion-card class="errors" *ngIf="!form.controls['israelId'].valid && form.controls['israelId'].touched">
                                <ion-card-content>
                                    <ion-list no-lines>
                                        <span *ngIf="form.controls['israelId'].hasError('required')">שדה חובה</span>
                                        <span *ngIf="form.controls['israelId'].hasError('israelId')">תעודת זהות לא חוקית</span>
                                    </ion-list>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <ion-item>
                                <ion-label color="primary" floating>סיסמא</ion-label>
                                <ion-input type="password" formControlName="password"></ion-input>
                            </ion-item>
                            <ion-card class="errors" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                                <ion-card-content>
                                    <ion-list no-lines>
                                        <span *ngIf="form.controls['password'].hasError('required')">שדה חובה</span>
                                    </ion-list>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <button type="button" (click)="login()" color="greener" class="btn-big" ion-button block [disabled]="!form.valid" ion-button secondary>כניסה</button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>