<ion-list *ngFor="let item of accordion">
  <ion-list-header (click)="toggle(item)">
    {{item.label}}
    <ion-icon class="pull-left" [hidden]="!item.opened" name="ios-arrow-up"></ion-icon>
    <ion-icon class="pull-left" [hidden]="item.opened" name="ios-arrow-down"></ion-icon>
  </ion-list-header>
  <div *ngIf="item.opened">
    <form style="padding-bottom: 25px;">
      <div [ngSwitch]="item.component">
        <div *ngSwitchCase="'details'">
          <user-settings-personal-details [form]="form.controls['contact']"></user-settings-personal-details>
        </div>
        <div *ngSwitchCase="'customer-details'">
          <user-settings-personal-customer-details [form]="form.controls['customer-details']"></user-settings-personal-customer-details>
        </div>
        <div *ngSwitchCase="'contact'">
          <user-settings-personal-contact [form]="form.controls['contact']"></user-settings-personal-contact>
        </div>
        <div *ngSwitchCase="'preferences'">
          <user-settings-personal-prefernces [form]="form.controls['preferences']"></user-settings-personal-prefernces>
        </div>
        <div *ngSwitchCase="'address'">
          <user-settings-personal-address [form]="form.controls['address']"></user-settings-personal-address>
        </div>
      </div>
    </form>
  </div>
</ion-list>