<ion-row>
    <ion-col padding start>
        <h1>משוב</h1>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col col-2 start>
        <img class="mauf-icon" src="assets/icon/people.png" alt="">
    </ion-col>
    <ion-col col-4>
        <ion-item>
            <ion-label stacked>כמות רשומים</ion-label>
            <ion-label>15</ion-label>
        </ion-item>
    </ion-col>
    <ion-col col-2>
        <img class="mauf-icon" src="assets/icon/chair.png" alt="">
    </ion-col>
    <ion-col col-4>
        <ion-item>
            <ion-label stacked>מושבים שהוזנו</ion-label>
            <ion-label>10</ion-label>
        </ion-item>
    </ion-col>
</ion-row>


<ion-row *ngFor="let feedback of lecture.feedbacks; let i = index;" (click)="toggleAccordion(i)" tappable>
    <ion-col>
        <ion-row>
            <ion-col col-3 start>
                <ion-item tappable>
                    <ion-label>{{getAng(feedback)}}</ion-label>
                    <ion-label stacked>ממוצע</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-7 start>
                <h2>{{feedback.question}}</h2>
            </ion-col>
            <ion-col col-2 end>
                <ion-icon *ngIf="!accordionIndexes[i]" name="ios-arrow-down"></ion-icon>
                <ion-icon *ngIf="!!accordionIndexes[i]" name="ios-arrow-up"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!!accordionIndexes[i] && !!selectedFeedbackData">
            <ion-col>
                <ion-row *ngFor="let item of selectedFeedbackData | keys">
                    <ion-col col-2>
                        <span>{{item.key}}</span>
                    </ion-col>
                    <ion-col col-10>
                        <span>{{item.value}} מתוך {{sumFeedbacks()}} נתנו ציון {{item.key}}</span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>

<ion-row>
    <ion-col col-1>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-10>
        <ion-slides pager loop dir="rtl">
            <ion-slide *ngFor="let slide of slides">
                <ion-card>
                    <ion-card-content>
                        <p class="slide-desc" style="line-height:1.5">
                            {{slide.description}}
                        </p>
                        <p class="slide-date">{{slide.date | date:'dd.MM.yy'}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-col>
    <ion-col col-1>
        <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-col>
</ion-row>