@import "../../theme/variables.scss";

page-consulting-services {
    .title{
        color: color($colors, app) !important;
    }
    .item-inner{
        padding:0 !important;
    }
    .list > .item{
        border-top: 0.55px solid #c8c7cc !important;
        border-bottom: 0.55px solid #c8c7cc !important;
        // margin-top: 1.1px;
    }
    .list > .item:first-child{
        // margin-top: 0;
    }
    .list > .item:last-child{
        border-bottom: 0 !important;
    }
    ion-label{
        margin: 0 !important
    }
}


