page-fund-details{
    button[ion-fab]{
        box-shadow: none !important;
    }

    .key{
        width: auto;
        margin-left: 10px  !important;
    }

    .close-icon{
        margin: 20px;
    }
}
