<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>

    <ion-title>שולחן עבודה</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let row of rows">
      <ion-col *ngFor="let page of row">
        <div class="btn-image" tappable (click)="openPage(page.page)">
          <img src="../../assets/imgs/{{page.icon}}">
          <p>{{page.title}}</p>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>