@import "../../../../theme/variables.scss";
page-create-task{
    ion-card {
        display: block;
        overflow: hidden;
        margin-top: 25px !important;
    }
    ion-card-header{
    background: color($colors, greener);

    ion-title{
        float: right;
    }
    ion-icon{
        float: left;
    }
   }
}