<form [formGroup]="form">
    <ion-item>
        <ion-label color="primary" floating>אמצעי התקשרות מועדף</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>דואר אלקטרוני</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>פקס</ion-label>
        <ion-input type="text" formControlName="fax"></ion-input>
    </ion-item>
</form>