<form [formGroup]="form">
    <ion-item>
        <ion-label color="primary" floating>סוג פונה</ion-label>
        <ion-input type="text" formControlName="customerType"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>שם לקוח</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>סוג זיהוי</ion-label>
        <ion-input type="text" formControlName="identity"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>מספר זיהוי עסק</ion-label>
        <ion-input type="text" formControlName="identityType"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>סוג עסק</ion-label>
        <ion-input type="text" formControlName="companyType"></ion-input>
    </ion-item>
</form>