// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
font-family: 'Rubik';
src: url(/assets/fonts/Rubik-Regular.ttf) format("truetype");
}

$SIDEMENU_TOP:  #4d2a88;
$SIDEMENU_BOTTOM: #242566;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);



body{
    font-family: 'Rubik' !important;
    .scroll-content{
        background: #dee5f0 !important;
    }
    .bg-grey{
        background: #f1f5f8 !important;
    }

    .btn-big{
        padding: 40px !important;
        font-size: 30px;
        &.white{
            color: #fff;
        }
    }


    .mauf-icon{
        width: 25px;
        display: block;
        margin: auto;
    }

    .icon-sm{
        width: 25px;
        height: auto;
        display: block;
        margin: auto;
    }
    .no-pad-sides{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .btn-image{
        border: solid 1px #ebebeb;
        border-radius: 5px;
        background: #fff;
        padding: 10px 15px;
        box-shadow: 1px 1px 10px #888888;
        
        img{
            display: block;
            margin: auto;
        }
        p{
            text-align: center;
        }
    }

    .childs-left{
        > *{
            float: left;
        }
    }

    .key-value{
        > *{
            width: 50%;
            display: inline-block;
        }
    }

   

    p.normal{
        white-space: normal;
    }
    .bold{
        font-weight: bold;
    }

    .black{
        color: $SIDEMENU_BOTTOM;
    }

   
}

.toolbar {
    .toolbar-title,
    .bar-button{
        color: #fff !important;
        z-index: 999999;
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 13%;
        right: 13%;
        padding: 0 90px 1px;
        // width: 100%;
        height: 100%;
        text-align: center;
      }
}

.fullscreen{
    height: 100%;
}

ngx-gauge{
    margin: auto;
    display: block !important;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.menu-inner{
        .toolbar {
            ion-title {
                text-align: right;
                padding: 0;
        }        
    }
}

.toolbar-background-md {
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background-repeat: repeat-x;
}

.toolbar-background-ios{
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background-repeat: repeat-x;
}
