@import "../../theme/variables.scss";

page-tasks {
    .task-type{
        color: $purple;
    }

    .key-value{
        color: #afafaf;
    }

    .item-md{
        padding-right: 5px !important;
    }
}
